name: Deploy via Shared Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply
          - destroy

permissions:
  id-token: write
  contents: read

jobs:
  terraform-deploy:
    name: Call Reusable Workflow
    uses: fiilipjaworski31/shared-workflows/.github/workflows/terraform-logic.yml@main
    with:
      aws_region: "eu-central-1"
      tf_version: "1.13.0"
      working_directory: "./10-app"
      environment_name: "production"
      action: ${{ github.event.inputs.action || 'plan' }}
    secrets:
      AWS_ROLE_PLAN_ARN: ${{ secrets.AWS_ROLE_PLAN_ARN }}
      AWS_ROLE_APPLY_ARN: ${{ secrets.AWS_ROLE_APPLY_ARN }}